.header {
  background: white;
  padding: var(--spacing-3x);
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  padding: var(--spacing-3x);
  box-sizing: border-box;
}

.table {
  width: 100%;
}
